.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  /* container display needs to be flex*/
  display: flex;
  /*flex-flow is flex-direction and flex-wrap combined*/
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;

}